<h1>Stupid coaching--</h1>


  <blockquote>
    <h3>Question : <%= params[:question] %></h3>
    <cite> - You </cite>
  </blockquote>

  <blockquote>
    <h3> Answer : <%= @answer %> </h3>
    <cite>- Your coach</cite>
  </blockquote>
</div>

<%= link_to("Ask a new question", "/questions/ask") %>

