
<form action="answer" method="get" class="w-full max-w-sm">
  <br>
  <div class="container mx-auto px-4">
  <div class="flex items-center border-b-2 border-blue-500 py-2">
    <input type="text" placeholder="Eg: Ma voisine me fait chier" name="question" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Jane Doe" aria-label="Full name">
     <button type="submit" value="Ask" class="shadow bg-blue-300 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
        Ask
      </button>
  </div>
</div>
</form>
